/* line 316, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.3.3/";
}

/* line 320, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em;
}

/* line 325, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 330, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 335, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 340, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 345, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 352, ../bower_components/foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 355, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 361, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 365, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  position: relative;
  cursor: default;
}

/* line 378, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 381, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 383, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 387, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 394, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 395, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 168, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 169, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 397, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 403, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 406, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 416, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 419, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 155, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 156, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 157, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 158, ../bower_components/foundation/scss/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  /* line 162, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }

  /* line 163, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }

  /* line 164, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }

  /* line 165, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* Typography resets */
/* line 193, ../bower_components/foundation/scss/foundation/components/_type.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
/* line 217, ../bower_components/foundation/scss/foundation/components/_type.scss */
a {
  color: #008cba;
  text-decoration: none;
  line-height: inherit;
}
/* line 222, ../bower_components/foundation/scss/foundation/components/_type.scss */
a:hover, a:focus {
  color: #0078a0;
}
/* line 230, ../bower_components/foundation/scss/foundation/components/_type.scss */
a img {
  border: none;
}

/* Default paragraph styles */
/* line 234, ../bower_components/foundation/scss/foundation/components/_type.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
/* line 242, ../bower_components/foundation/scss/foundation/components/_type.scss */
p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}
/* line 244, ../bower_components/foundation/scss/foundation/components/_type.scss */
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
/* line 252, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
/* line 262, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

/* line 269, ../bower_components/foundation/scss/foundation/components/_type.scss */
h1 {
  font-size: 2.125rem;
}

/* line 270, ../bower_components/foundation/scss/foundation/components/_type.scss */
h2 {
  font-size: 1.6875rem;
}

/* line 271, ../bower_components/foundation/scss/foundation/components/_type.scss */
h3 {
  font-size: 1.375rem;
}

/* line 272, ../bower_components/foundation/scss/foundation/components/_type.scss */
h4 {
  font-size: 1.125rem;
}

/* line 273, ../bower_components/foundation/scss/foundation/components/_type.scss */
h5 {
  font-size: 1.125rem;
}

/* line 274, ../bower_components/foundation/scss/foundation/components/_type.scss */
h6 {
  font-size: 1rem;
}

/* line 276, ../bower_components/foundation/scss/foundation/components/_type.scss */
.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

/* line 278, ../bower_components/foundation/scss/foundation/components/_type.scss */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

/* Helpful Typography Defaults */
/* line 287, ../bower_components/foundation/scss/foundation/components/_type.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 293, ../bower_components/foundation/scss/foundation/components/_type.scss */
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* line 299, ../bower_components/foundation/scss/foundation/components/_type.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 304, ../bower_components/foundation/scss/foundation/components/_type.scss */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #333333;
  background-color: #f8f8f8;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  padding: 0.125rem 0.3125rem 0.0625rem;
}

/* Lists */
/* line 316, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

/* line 326, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul {
  margin-left: 1.1rem;
}
/* line 328, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet {
  margin-left: 0;
}
/* line 331, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
/* line 344, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}
/* line 353, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
/* line 356, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}
/* line 357, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}
/* line 358, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}
/* line 359, ../bower_components/foundation/scss/foundation/components/_type.scss */
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
/* line 363, ../bower_components/foundation/scss/foundation/components/_type.scss */
ol {
  margin-left: 1.4rem;
}
/* line 366, ../bower_components/foundation/scss/foundation/components/_type.scss */
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* Definition Lists */
/* line 376, ../bower_components/foundation/scss/foundation/components/_type.scss */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}
/* line 380, ../bower_components/foundation/scss/foundation/components/_type.scss */
dl dd {
  margin-bottom: 0.75rem;
}

/* Abbreviations */
/* line 384, ../bower_components/foundation/scss/foundation/components/_type.scss */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 392, ../bower_components/foundation/scss/foundation/components/_type.scss */
abbr {
  text-transform: none;
}

/* Blockquotes */
/* line 397, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd;
}
/* line 402, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #555555;
}
/* line 406, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 410, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

/* line 416, ../bower_components/foundation/scss/foundation/components/_type.scss */
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
/* line 423, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #dddddd;
  padding: 0.625rem 0.75rem;
}
/* line 429, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard li {
  margin: 0;
  display: block;
}
/* line 433, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}

/* line 440, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vevent .summary {
  font-weight: bold;
}
/* line 442, ../bower_components/foundation/scss/foundation/components/_type.scss */
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}

@media only screen and (min-width: 40.063em) {
  /* line 453, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  /* line 454, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h1 {
    font-size: 2.75rem;
  }

  /* line 455, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2 {
    font-size: 2.3125rem;
  }

  /* line 456, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h3 {
    font-size: 1.6875rem;
  }

  /* line 457, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h4 {
    font-size: 1.4375rem;
  }

  /* line 458, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h5 {
    font-size: 1.125rem;
  }

  /* line 459, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h6 {
    font-size: 1rem;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 470, ../bower_components/foundation/scss/foundation/components/_type.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 472, ../bower_components/foundation/scss/foundation/components/_type.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 479, ../bower_components/foundation/scss/foundation/components/_type.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 481, ../bower_components/foundation/scss/foundation/components/_type.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 483, ../bower_components/foundation/scss/foundation/components/_type.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 486, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 490, ../bower_components/foundation/scss/foundation/components/_type.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 496, ../bower_components/foundation/scss/foundation/components/_type.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 498, ../bower_components/foundation/scss/foundation/components/_type.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 501, ../bower_components/foundation/scss/foundation/components/_type.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 505, ../bower_components/foundation/scss/foundation/components/_type.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 512, ../bower_components/foundation/scss/foundation/components/_type.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 515, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 516, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .print-only {
    display: block !important;
  }

  /* line 517, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .hide-for-print {
    display: none !important;
  }

  /* line 518, ../bower_components/foundation/scss/foundation/components/_type.scss */
  .show-for-print {
    display: inherit !important;
  }
}
/* line 1, ../scss/pf/_news_posts.scss */
.news-post {
  clear: both;
}
/* line 3, ../scss/pf/_news_posts.scss */
.news-post.snippet {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  border-bottom: solid 1px #ddd;
  padding: 1rem 0;
}
/* line 3, ../scss/pf/__base.scss */
.news-post.snippet:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../scss/pf/_news_posts.scss */
.news-post.snippet:last-child {
  border-bottom: 0;
}
/* line 10, ../scss/pf/_news_posts.scss */
.news-post.snippet *:last-child {
  margin-bottom: 0;
}
/* line 13, ../scss/pf/_news_posts.scss */
.news-post.snippet .shot {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 1rem;
  max-height: 300px;
  overflow: hidden;
}
/* line 20, ../scss/pf/_news_posts.scss */
.news-post.snippet h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 24, ../scss/pf/_news_posts.scss */
.news-post.snippet header {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  margin-bottom: 1rem;
}
/* line 28, ../scss/pf/_news_posts.scss */
.news-post.snippet .content {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}
/* line 30, ../scss/pf/_news_posts.scss */
.news-post.snippet .content *:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 500px) {
  /* line 41, ../scss/pf/_news_posts.scss */
  .news-post.snippet .shot {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 33.33333%;
    float: left;
  }
  /* line 43, ../scss/pf/_news_posts.scss */
  .news-post.snippet .shot ~ header {
    padding-left: 0;
    padding-right: 0;
    width: 66.66667%;
    float: left;
  }
  /* line 47, ../scss/pf/_news_posts.scss */
  .news-post.snippet .content {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    margin-top: 1rem;
    clear: both;
  }
}
@media screen and (min-width: 750px) {
  /* line 3, ../scss/pf/__base.scss */
  .news-post.snippet:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 60, ../scss/pf/_news_posts.scss */
  .news-post.snippet header {
    float: none;
    width: auto;
  }
  /* line 64, ../scss/pf/_news_posts.scss */
  .news-post.snippet .content {
    clear: none;
    width: auto;
    float: none;
  }
}
/* line 3, ../scss/demo.scss */
main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
}
/* line 3, ../scss/pf/__base.scss */
main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../scss/demo.scss */
main section {
  margin: 1rem 0;
}
